body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05em;
}
.trending-header {
  font-weight: 900;
  font-size: 1.375rem;
}
.recipe-container {
  font-size: 1rem;
  margin: 0.5rem;
  font-weight: 800;
  a {
    color: inherit;
    text-decoration: none;
  }
  &:hover {
    p {
      color: #e40754;
    }
  }
}
.recipe-list-img {
  width: 100%;
}
.add-field {
  font-size: 14px;
  text-align: right;
  &:hover{
    cursor: pointer;
    color: #e40754;
  }
}
.servings{
  font-size: 1.375rem;
}
li {
  list-style-type: none;
}
.btn{
  background-color: #e40754;
  border: 'none'
}
.nav-content{
  color: rgba(0,0,0,.5);
}
.nav-content:hover{
  color: inherit;
}
.tip-link {
  font-size: 0.85rem;
  color: #e40754;
  &:hover{
    cursor: pointer;
    color: #602035;
  } 
}
.icon-tip{
  margin-right: 8px;
}
.icon-btn{
  margin: 4px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  &:hover{
    cursor: pointer;
  } 
}
.pinterest-logo{
  background-color: #e60019;
}
.facebook-logo{
  background-color: #3b5998;
}
.email-logo{
  background-color: #8247b1;
}
.like-logo{
  background-color: #e40754;
}
.icon-letter{
  color: #fff;
  margin: 10px;
}
